<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.powerpuffgirls">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ppg_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ppg_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".TrackingService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".ChooseGameActivity" />
        <activity android:name=".WorkoutVideoActivity" />
        <activity android:name=".WorkoutActivity" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.OverlayTheme" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".SOSActivity" />
        <activity android:name=".StayHomeActivity" />
        <activity android:name=".DeclarationActivity" />
        <activity android:name=".ContactTracingActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainGameActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>